.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;

    &_update {
        position: relative;

        &-span {
            position:absolute;
        }
        
        &-form {
            position:absolute;
            visibility: hidden;
        }
    }
}