.todo {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 90%;
    background-color: $color-white;
    box-shadow: 8px 8px 30px rgba(85, 85, 85, 0.397);

    &_header {
        height: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid $color-primary;
        height: 8rem;
        color: $color-primary;
        text-transform: uppercase;
        font-size: 1.8rem;
        letter-spacing: .1rem;

        &-edit {
            font-size: 1.3rem;
            margin-top: 1rem;
            margin-left: 1rem;
            color: $color-primary-dark;
            // border: 1px solid $color-primary-dark;
            background-color: $color-primary;
            padding: .3rem 1rem;

            &--icon {
                width: 1.4rem;
            }
        }

        &-edit:hover {
            transform: translateY(-3px);
            // box-shadow: 0 .3em .8rem rgba(black, .2);
            opacity: 0.8;
            padding: .3rem 1.2rem;
        }
    }

    &_body{
        display: flex;
        flex-direction: column;
        height:75%;
        font-size: 1.5rem;
        margin-top: .5rem;
        overflow: auto;
    }

    &_footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid $color-primary;
        font-size: 1.5rem;

        &-new {
            margin-top: .8rem;
            padding: 1rem;

            &--error {
                color: $color-primary-dark;
                font-size: 1rem;
            }
        }

        &-nb {
            color: $color-primary-dark;
            margin-top: .8rem;
            padding: 1rem;
        }
    }
}